{% extends "large.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block large_content %}
<div class="container-fluid">
    <h1 class="text-center">{{ title }}</h1>
    <div class="dashboard-grid">
        <!-- Mattonella Totale Spese (più alta) -->
        <div
            class="dashboard-tile tile-tall border border-2 border-secondary rounded p-3 shadow text-center bg-light grid-item-spese">
            <h4 class="mb-2">Ultime Spese</h4>

            <a href="{{ url_for('gestione.spese.spese', file_id=file_id) }}"
                class="btn btn-outline-secondary btn-sm">Vedi
                tutte le spese</a>
            {% include "_spese.html" %}
        </div>
        <!-- Mattonella Totale Ingressi (più lunga) -->
        <div
            class="dashboard-tile tile-wide border border-2 border-secondary rounded p-3 shadow text-center bg-light grid-item-inserisci-spesa">
            <h4 class="mb-2">Inserisci Spesa</h4>
            {% include "_inserisci_spesa.html" %}

        </div>
        <!-- Mattonella Spese Ricorrenti (normale) -->
        <a class="dashboard-tile border border-2 border-secondary rounded p-3 shadow text-center bg-light  text-decoration-none text-reset d-block h-100 grid-item-ricorrenti"
            href="{{ url_for('gestione.ricorrenti.ricorrenti', file_id=file_id) }}" style="cursor: pointer;">
            <h4 class="mb-2">Spese Ricorrenti</h4>
            <i class="bi bi-arrow-repeat" style="font-size: 5rem;"></i>
            <div>
                <span class="btn btn-link btn-sm text-secondary p-0">Vedi tutte le Spese Ricorrenti</span>
            </div>
        </a>
        <!-- Mattonella Ingressi -->
        <a class="dashboard-tile border border-2 border-secondary rounded p-3 shadow text-center bg-light text-decoration-none text-reset d-block h-100 grid-item-ingressi"
            href="{{ url_for('gestione.ingressi.ingressi', file_id=file_id) }}" style="cursor: pointer;">
            <h4 class="mb-2">Ingressi</h4>
            <i class="bi bi-wallet-fill" style="font-size: 5rem;"></i>
            <div>
                <span class="btn btn-link btn-sm text-secondary p-0">Gestisci i tuoi Ingressi</span>
            </div>
        </a>

        <!-- Mattonella Mese -->
        <div
            class="dashboard-tile border border-2 border-secondary rounded p-3 shadow text-center bg-light d-block h-100 grid-item-mese">
            <h4 class="mb-2 text-nowrap"> Questo Mese </h4>
            <div class="mb-2">
                <strong> Ingressi Previsti: </strong>
                <span class="text-success fw-bold">{{ mese.ingressi_previsti }}€</span>
            </div>
            <div class="mb-2">
                <strong> Ingressi Effettivi: </strong>
                <span class="text-info fw-bold">{{ mese.ingressi }}€</span>
            </div>
            <div class="mb-2">
                <strong> Spese: </strong>
                <span class="text-danger fw-bold">{{ mese.spese }}€</span>
            </div>
        </div>

        <!-- Mattonella Anno -->
        <div
            class="dashboard-tile border border-2 border-secondary rounded p-3 shadow text-center bg-light d-block h-100 grid-item-anno">
            <h4 class="mb-2"> Quest'Anno </h4>
            <div class="mb-2">
                <strong> Ingressi Previsti: </strong>
                <span class="text-success fw-bold">{{ anno.ingressi_previsti }}€</span>
            </div>
            <div class="mb-2">
                <strong> Ingressi Effettivi: </strong>
                <span class="text-info fw-bold">{{ anno.ingressi }}€</span>
            </div>
            <div class="mb-2">
                <strong> Spese: </strong>
                <span class="text-danger fw-bold">{{ anno.spese }}€</span>
            </div>
        </div>


    </div>

    <style>
        .dashboard-grid {
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-template-rows: repeat(4, auto);
            gap: 1.5rem;
        }

        .grid-item-spese {
            grid-row: 1 / -1;
            grid-column: 1 / 4;
        }

        .grid-item-inserisci-spesa {
            grid-row: 1 / 2;
            grid-column: 4 / span 2;
        }

        .grid-item-ricorrenti,
        .grid-item-ingressi,
        .grid-item-mese,
        .grid-item-anno {
            grid-row: auto;
            grid-column: auto;
        }

        /* .grid-item-ricorrenti {
            grid-row: 2;
            grid-column: 4 / span 1;
        }

        .grid-item-ingressi {
            grid-row: auto;
            grid-column: 5 / span 1;
        } */


        /* Responsive: schermi <= 900px */
        @media (max-width: 900px) {
            .dashboard-grid {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto auto auto;
            }

            .grid-item-spese {
                grid-row: 1 / span 3;
                grid-column: 1 / span 2;
            }

            .grid-item-inserisci-spesa {
                grid-row: 1 / 2;
                grid-column: 3;
            }

            .grid-item-ricorrenti {
                grid-row: auto;
                grid-column: auto;
            }

            .grid-item-saldo {
                grid-row: auto;
                grid-column: auto;
            }
        }

        /* Responsive: schermi <= 600px */
        @media (max-width: 600px) {

            .dashboard-grid {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto auto auto auto;
            }
            
            
            
            .grid-item-spese,
            .grid-item-ricorrenti,
            .grid-item-inserisci-spesa,
            .grid-item-anno,
            .grid-item-mese {
                grid-column: auto;
                grid-row: auto;
            }
            
            .grid-item-inserisci-spesa,
            .grid-item-spese {
                grid-column: 1 / span 2;

            }
        }
    </style>
</div>

{% endblock %}