<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Data</th>
                <th>Importo</th>
                <th>Descrizione</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for spesa in spese %}
            <tr>
                <td>{{ spesa.data | date_display }}</td>
                <td>{{ spesa.importo }} €</td>
                <td>{{ spesa.descrizione }}</td>
                <td>{{ spesa.categoria | pk_to_text(categorie) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>