<form method="post" class="d-flex flex-row flex-wrap gap-3 align-items-start"
    action="{{ url_for('gestione.ingressi.aggiungi', id_gestione=gestione_id) }}">
    <div class="flex-fill">
        <label for="mese" class="form-label mb-0">Anno e Mese</label>
        <input type="month" class="form-control" id="mese" name="mese" required>
    </div>
    <div class="flex-fill">
        <label for="importo" class="form-label mb-0">Importo</label>
        <input type="number" step="0.01" class="form-control" id="importo" name="importo" required>
    </div>
    <div class="flex-fill">
        <label for="descrizione" class="form-label mb-0">Descrizione</label>
        <input type="text" class="form-control" id="descrizione" name="descrizione" required>
    </div>
    <div class="flex-fill">
        <label for="categoria" class="form-label mb-0">Categoria</label>
        <select class="form-select" name="categoria" required>
            {% for tipo, sottocategorie in categorie.items() %}
            <optgroup label="{{ tipo }}">
                {% for id, categoria in sottocategorie.items() %}
                <option value="{{ id }}">{{ categoria }}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
    </div>
    <div class="flex-fill">
        <label for="data" class="form-label mb-0">Data di Accreditamento</label>
        <input type="date" class="form-control" id="data" name="data">
        <small class="form-text text-muted">Se non specificata, l'ingresso verrà memorizzato ma non ancora
            contabilizzato</small>
    </div>
    <div class="flex-fill align-self-end">
        <button type="submit" class="form-control btn btn-primary my-auto">Inserisci Ingresso</button>
    </div>
</form>